form {
    margin: 2rem 12rem;

    @media(max-width: 768px) {
        margin: 2rem 6rem;
    }
    @media(max-width: 400px) {
        margin: 2rem;
    }
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media(max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media(max-width: 400px) {
        grid-template-columns: 1fr;
    }
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media(max-width: 400px) {
        grid-template-columns: 1fr;
    }
}